[Unit]
Description=sectxt
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/bin/sectxt-api
Environment="API_ADDRESS={{ api_address }}"
Environment="DATABASE_URL={{ database_url }}"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
